Source: lazarus
Section: devel
Priority: optional
Maintainer: Carlos Laviola <claviola@debian.org>
Uploaders: Torsten Werner <twerner@debian.org>, Abou Al Montacir <abou.almontacir@sfr.fr>
DM-Upload-Allowed: yes
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 7), quilt, fpc, fpc-source, fp-utils, imagemagick
Vcs-Svn: https://bollin.googlecode.com/svn/lazarus/trunk
Vcs-Browser: http://bollin.googlecode.com/svn/lazarus/trunk
Homepage: http://www.lazarus.freepascal.org

Package: lazarus
Architecture: all
Depends: ${misc:Depends}, lazarus-ide (>= ${source:Version}), lazarus-src (>= ${source:Version}), lazarus-doc (>= ${source:Version})
Recommends: fpc, fpc-source
Suggests: fp-utils, fp-docs
Description: IDE for Free Pascal - Meta Package
 Lazarus is an IDE to create (graphical and console) applications with Free
 Pascal. Free Pascal is a (L)GPL'ed Pascal and Object Pascal compiler that runs
 on Windows, Linux, Mac OS X, FreeBSD and more.
 .
 Lazarus is the missing part of the puzzle that will allow you to develop
 programs for all of the above platforms in a Delphi like environment.
 The IDE is a RAD tool that includes a form designer.
 .
 Unlike Java's "write once, run anywhere" motto, Lazarus and Free Pascal
 strive for "write once, compile anywhere". Since the exact same compiler
 is available on all of the above platforms you don't need to do any recoding
 to produce identical products for different platforms.
 .
 In short, Lazarus is a free RAD tool for Free Pascal using its Lazarus 
 Component Library (LCL).
 .
 This is a metapackage depending on all packages need to have a typical
 Lazarus installation.
 .
 Official: http://sourceforge.net/projects/lazarus/
 .
 Tutorials: http://lazarus-ccr.sourceforge.net

Package: lazarus-src
Architecture: all
Depends: ${misc:Depends}
Suggests: lazarus-ide
Description: IDE for Free Pascal - LCL Sources Code
 Lazarus is an IDE to create (graphical and console) applications with Free
 Pascal. Free Pascal is a (L)GPL'ed Pascal and Object Pascal compiler that runs
 on Windows, Linux, Mac OS X, FreeBSD and more.
 .
 Lazarus is the missing part of the puzzle that will allow you to develop
 programs for all of the above platforms in a Delphi like environment.
 The IDE is a RAD tool that includes a form designer.
 .
 Unlike Java's "write once, run anywhere" motto, Lazarus and Free Pascal
 strive for "write once, compile anywhere". Since the exact same compiler
 is available on all of the above platforms you don't need to do any recoding
 to produce identical products for different platforms.
 .
 In short, Lazarus is a free RAD tool for Free Pascal using its Lazarus 
 Component Library (LCL).
 .
 This package contains lazarus latest version source code necessary for the IDE
 code tool to work properly (retrieving declarations and navigating in code).

Package: lazarus-ide
Architecture: i386 powerpc sparc amd64 armel armhf
Depends: ${misc:Depends}, ${shlibs:Depends}, fp-compiler, lazarus-src, lazarus-ide-gtk | lazarus-ide-qt
Recommends: fpc, lcl, gdb
Suggests: fp-utils
Description: IDE for Free Pascal - Common IDE files
 Lazarus is an IDE to create (graphical and console) applications with Free
 Pascal. Free Pascal is a (L)GPL'ed Pascal and Object Pascal compiler that runs
 on Windows, Linux, Mac OS X, FreeBSD and more.
 .
 Lazarus is the missing part of the puzzle that will allow you to develop
 programs for all of the above platforms in a Delphi like environment.
 The IDE is a RAD tool that includes a form designer.
 .
 Unlike Java's "write once, run anywhere" motto, Lazarus and Free Pascal
 strive for "write once, compile anywhere". Since the exact same compiler
 is available on all of the above platforms you don't need to do any recoding
 to produce identical products for different platforms.
 .
 In short, Lazarus is a free RAD tool for Free Pascal using its Lazarus 
 Component Library (LCL).
 .
 This package contains the commons files required to run lazarus IDE.

Package: lazarus-ide-gtk2
Architecture: i386 powerpc sparc amd64 armel armhf
Depends: ${misc:Depends}, ${shlibs:Depends}, lazarus-ide
Recommends: fpc, lcl, gdb
Suggests: fp-utils
Provides: lazarus-ide-gtk
Breaks: lazarus-ide (<= 0.9.28.2-2)
Replaces: lazarus-ide (<= 0.9.28.2-2)
Description: IDE for Free Pascal - IDE build on top of GTK+ backend
 Lazarus is an IDE to create (graphical and console) applications with Free
 Pascal. Free Pascal is a (L)GPL'ed Pascal and Object Pascal compiler that runs
 on Windows, Linux, Mac OS X, FreeBSD and more.
 .
 Lazarus is the missing part of the puzzle that will allow you to develop
 programs for all of the above platforms in a Delphi like environment.
 The IDE is a RAD tool that includes a form designer.
 .
 Unlike Java's "write once, run anywhere" motto, Lazarus and Free Pascal
 strive for "write once, compile anywhere". Since the exact same compiler
 is available on all of the above platforms you don't need to do any recoding
 to produce identical products for different platforms.
 .
 In short, Lazarus is a free RAD tool for Free Pascal using its Lazarus 
 Component Library (LCL).
 .
 This package contains the lazarus IDE build on top of GTK+ backend.

Package: lazarus-ide-qt4
Architecture: i386 powerpc sparc amd64 armel armhf
Depends: ${misc:Depends}, ${shlibs:Depends}, lazarus-ide, lazarus-ide-gtk
Recommends: fpc, lcl, gdb
Suggests: fp-utils
Provides: lazarus-ide-qt
Breaks: lazarus-ide (<= 0.9.28.2-2)
Replaces: lazarus-ide (<= 0.9.28.2-2)
Description: IDE for Free Pascal - IDE build on top of QT backend
 Lazarus is an IDE to create (graphical and console) applications with Free
 Pascal. Free Pascal is a (L)GPL'ed Pascal and Object Pascal compiler that runs
 on Windows, Linux, Mac OS X, FreeBSD and more.
 .
 Lazarus is the missing part of the puzzle that will allow you to develop
 programs for all of the above platforms in a Delphi like environment.
 The IDE is a RAD tool that includes a form designer.
 .
 Unlike Java's "write once, run anywhere" motto, Lazarus and Free Pascal
 strive for "write once, compile anywhere". Since the exact same compiler
 is available on all of the above platforms you don't need to do any recoding
 to produce identical products for different platforms.
 .
 In short, Lazarus is a free RAD tool for Free Pascal using its Lazarus
 Component Library (LCL).
 .
 This package will contain the lazarus IDE build on top of QT backend, however
 for now it just depends on gtk based IDE.

Package: lcl
Architecture: i386 powerpc sparc amd64 armel armhf
Depends: ${misc:Depends}, ${shlibs:Depends}, lcl-units, lcl-utils
Recommends: fpc, lazarus-ide
Suggests: gdb
Breaks: lazarus-ide (<= 0.9.28.2-2)
Replaces: lazarus-ide (<= 0.9.28.2-2)
Description: Lazarus Components Library - LCL metapackage
 Lazarus is an IDE to create (graphical and console) applications with Free
 Pascal. Free Pascal is a (L)GPL'ed Pascal and Object Pascal compiler that runs
 on Windows, Linux, Mac OS X, FreeBSD and more.
 .
 Lazarus is the missing part of the puzzle that will allow you to develop
 programs for all of the above platforms in a Delphi like environment.
 The IDE is a RAD tool that includes a form designer.
 .
 Unlike Java's "write once, run anywhere" motto, Lazarus and Free Pascal
 strive for "write once, compile anywhere". Since the exact same compiler
 is available on all of the above platforms you don't need to do any recoding
 to produce identical products for different platforms.
 .
 In short, Lazarus is a free RAD tool for Free Pascal using its Lazarus 
 Component Library (LCL).
 .
 This is a metapackage to ease installing the LCL and components.

Package: lcl-utils
Architecture: i386 powerpc sparc amd64 armel armhf
Depends: ${misc:Depends}, ${shlibs:Depends}, fp-compiler
Recommends: lcl, lazarus-ide
Breaks: lazarus-ide (<= 0.9.28.2-2)
Replaces: lazarus-ide (<= 0.9.28.2-2)
Description: Lazarus Components Library - Command Line build tools
 Lazarus is an IDE to create (graphical and console) applications with Free
 Pascal. Free Pascal is a (L)GPL'ed Pascal and Object Pascal compiler that runs
 on Windows, Linux, Mac OS X, FreeBSD and more.
 .
 Lazarus is the missing part of the puzzle that will allow you to develop
 programs for all of the above platforms in a Delphi like environment.
 The IDE is a RAD tool that includes a form designer.
 .
 Unlike Java's "write once, run anywhere" motto, Lazarus and Free Pascal
 strive for "write once, compile anywhere". Since the exact same compiler
 is available on all of the above platforms you don't need to do any recoding
 to produce identical products for different platforms.
 .
 In short, Lazarus is a free RAD tool for Free Pascal using its Lazarus 
 Component Library (LCL).
 .
 This package contains command line tools to ease building LCL applications.

Package: lcl-units
Architecture: i386 powerpc sparc amd64 armel armhf
Depends: ${misc:Depends}, ${shlibs:Depends}, ${fpc-abi:Depends}, lcl-gtk2 | lcl-gtk | lcl-qt
Recommends: lazarus-ide, fpc
Suggests: gdb
Provides: lcl-${source:Upstream-Version}
Breaks: lazarus-ide (<= 0.9.28.2-2)
Replaces: lazarus-ide (<= 0.9.28.2-2)
Description: Lazarus Components Library - Backend independent components
 Lazarus is an IDE to create (graphical and console) applications with Free
 Pascal. Free Pascal is a (L)GPL'ed Pascal and Object Pascal compiler that runs
 on Windows, Linux, Mac OS X, FreeBSD and more.
 .
 Lazarus is the missing part of the puzzle that will allow you to develop
 programs for all of the above platforms in a Delphi like environment.
 The IDE is a RAD tool that includes a form designer.
 .
 Unlike Java's "write once, run anywhere" motto, Lazarus and Free Pascal
 strive for "write once, compile anywhere". Since the exact same compiler
 is available on all of the above platforms you don't need to do any recoding
 to produce identical products for different platforms.
 .
 In short, Lazarus is a free RAD tool for Free Pascal using its Lazarus 
 Component Library (LCL).
 .
 This package contains the LCL and components.

Package: lcl-nogui
Architecture: i386 powerpc sparc amd64 armel armhf
Depends: ${misc:Depends}, ${shlibs:Depends}, ${fpc-abi:Depends}, fp-units-rtl, fp-units-base, fp-units-fcl
Recommends: lazarus-ide, fpc
Suggests: gdb
Breaks: lazarus-ide (<= 0.9.28.2-2)
Replaces: lazarus-ide (<= 0.9.28.2-2)
Description: Lazarus Components Library - No GUI backend
 Lazarus is an IDE to create (graphical and console) applications with Free
 Pascal. Free Pascal is a (L)GPL'ed Pascal and Object Pascal compiler that runs
 on Windows, Linux, Mac OS X, FreeBSD and more.
 .
 Lazarus is the missing part of the puzzle that will allow you to develop
 programs for all of the above platforms in a Delphi like environment.
 The IDE is a RAD tool that includes a form designer.
 .
 Unlike Java's "write once, run anywhere" motto, Lazarus and Free Pascal
 strive for "write once, compile anywhere". Since the exact same compiler
 is available on all of the above platforms you don't need to do any recoding
 to produce identical products for different platforms.
 .
 In short, Lazarus is a free RAD tool for Free Pascal using its Lazarus 
 Component Library (LCL).
 .
 This package contains the LCL and components no GUI based backend for command
 line tools and non graphical applications.

Package: lcl-gtk2
Architecture: i386 powerpc sparc amd64 armel armhf
Depends: ${misc:Depends}, ${shlibs:Depends}, ${fpc-abi:Depends}, fp-units-rtl, fp-units-base, fp-units-fcl, fp-units-gtk2
Recommends: lazarus-ide, fpc
Suggests: gdb
Provides: lcl-gtk
Breaks: lazarus-ide (<= 0.9.28.2-2)
Replaces: lazarus-ide (<= 0.9.28.2-2)
Description: Lazarus Components Library - GTK+ backend
 Lazarus is an IDE to create (graphical and console) applications with Free
 Pascal. Free Pascal is a (L)GPL'ed Pascal and Object Pascal compiler that runs
 on Windows, Linux, Mac OS X, FreeBSD and more.
 .
 Lazarus is the missing part of the puzzle that will allow you to develop
 programs for all of the above platforms in a Delphi like environment.
 The IDE is a RAD tool that includes a form designer.
 .
 Unlike Java's "write once, run anywhere" motto, Lazarus and Free Pascal
 strive for "write once, compile anywhere". Since the exact same compiler
 is available on all of the above platforms you don't need to do any recoding
 to produce identical products for different platforms.
 .
 In short, Lazarus is a free RAD tool for Free Pascal using its Lazarus 
 Component Library (LCL).
 .
 This package contains the LCL and components GTK+ based backend.

Package: lcl-qt4
Architecture: i386 powerpc sparc amd64 armel armhf
Depends: ${misc:Depends}, ${shlibs:Depends}, ${fpc-abi:Depends}, fp-units-rtl, fp-units-base, fp-units-fcl, libqt4pas-dev
Recommends: lazarus-ide, fpc
Suggests: gdb
Provides: lcl-qt
Description: Lazarus Components Library - QT backend
 Lazarus is an IDE to create (graphical and console) applications with Free
 Pascal. Free Pascal is a (L)GPL'ed Pascal and Object Pascal compiler that runs
 on Windows, Linux, Mac OS X, FreeBSD and more.
 .
 Lazarus is the missing part of the puzzle that will allow you to develop
 programs for all of the above platforms in a Delphi like environment.
 The IDE is a RAD tool that includes a form designer.
 .
 Unlike Java's "write once, run anywhere" motto, Lazarus and Free Pascal
 strive for "write once, compile anywhere". Since the exact same compiler
 is available on all of the above platforms you don't need to do any recoding
 to produce identical products for different platforms.
 .
 In short, Lazarus is a free RAD tool for Free Pascal using its Lazarus 
 Component Library (LCL).
 .
 This package contains the LCL and components Qt based backend. Actually this is
 an empty package but will not be in the future.

Package: lazarus-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Suggests: lazarus-ide
Description: IDE for Free Pascal - Documentation
 Lazarus is an IDE to create (graphical and console) applications with Free
 Pascal. Free Pascal is a (L)GPL'ed Pascal and Object Pascal compiler that runs
 on Windows, Linux, Mac OS X, FreeBSD and more.
 .
 Lazarus is the missing part of the puzzle that will allow you to develop
 programs for all of the above platforms in a Delphi like environment.
 The IDE is a RAD tool that includes a form designer.
 .
 Unlike Java's "write once, run anywhere" motto, Lazarus and Free Pascal
 strive for "write once, compile anywhere". Since the exact same compiler
 is available on all of the above platforms you don't need to do any recoding
 to produce identical products for different platforms.
 .
 In short, Lazarus is a free RAD tool for Free Pascal using its Lazarus 
 Component Library (LCL).
 .
 This package contains documentation of the lazarus IDE and components. It can
 be viewed separately with any HTML browser or used by the IDE to as an
 integrated help (pressing <F1> on any LCL identifier will browse the help of
 that identifier).
