html {
  margin: 0;
  padding: 0;
}

html body {
  margin: 1em 8% 1em 10%;
  line-height: 1.2;
}

div.TITLEPAGE {
	text-align: center;
}

body h1 {
  margin: .8em 0 0 -4%;
  line-height: 1.3;
}

body h2 {
  margin: .8em 0 0 -4%;
  line-height: 1.3;
}

body h3 {
  margin: .8em 0 0 -3%;
  line-height: 1.3;
}

body h4 {
  margin: .8em 0 0 -3%;
  line-height: 1.3;
}

body h5 {
  margin: .8em 0 0 -2%;
  line-height: 1.3;
}

body h6 {
  margin: .8em 0 0 -1%;
  line-height: 1.3;
}

body hr {
  margin: .6em
}

body td, body th {
  line-height: 1.2
}

dl {
  margin: .8em 0;
  line-height: 1.2;
}

ol, ul {
  margin: 0 0 0 5%;
  line-height: 1.2;
}

p.FIGURE {
  text-align: center;
}

p.NAVBACK {
 text-align: right;
 text-indent: 38px;
}

kbd {
  font-weight: bold;
}

pre {
  background: #E0E0E0;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.red {
  color: #FF0000;
}

.brown {
  color: #990000;
}