Source: doublecmd
Section: contrib/misc
Priority: extra
Maintainer: Alexander Koblov <Alexx2000@mail.ru>
Build-Depends: libbz2-dev,
               libdbus-1-dev,
               libglib2.0-dev,
               libgtk2.0-dev,
               libncurses5-dev,
               libncursesw5-dev,
               debhelper (>= 5),
               libqt4pas-dev (>= 2.1),
               fpc (>= 2.4.0),
               lcl (>= 0.9.29),
               lcl-qt4 (>= 0.9.29),
               lcl-gtk2 (>= 0.9.29),
               lcl-units (>= 0.9.29),
               lcl-utils (>= 0.9.29),
               lazarus-src (>= 0.9.29)
Standards-Version: 3.8.4
Homepage: http://doublecmd.sourceforge.net/

Package: doublecmd-gtk
Architecture: i386 amd64
Depends: ${shlibs:Depends},
         ${misc:Depends}
Replaces: doublecmd-qt, doublecmd (< 0.4.6)
Suggests: www-browser, libunrar
Description: twin-panel (commander-style) file manager (GTK2)
 Double Commander is a cross platform open source file manager
 with two panels side by side. It is inspired by Total Commander
 and features some new ideas.

Package: doublecmd-qt
Architecture: i386 amd64
Depends: ${shlibs:Depends},
         ${misc:Depends}
Replaces: doublecmd-gtk, doublecmd (< 0.4.6)
Suggests: www-browser, libunrar
Description: twin-panel (commander-style) file manager (Qt4)
 Double Commander is a cross platform open source file manager
 with two panels side by side. It is inspired by Total Commander
 and features some new ideas.
