1 VERSIONINFO
FILEVERSION 0,4,0,0
PRODUCTVERSION 0,4,0,0
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "Comments", "\000"
   VALUE "CompanyName", "\000"
   VALUE "FileDescription", "Double Commander is a cross platform open source file manager with two panels side by side\000"
   VALUE "FileVersion", "0.4.0.0\000"
   VALUE "InternalName", "DOUBLECMD\000"
   VALUE "LegalCopyright", "Copyright (C) 2006-2008  Koblov Alexander\000"
   VALUE "LegalTrademarks", "\000"
   VALUE "OriginalFilename", "\000"
   VALUE "ProductName", "Double Commander\000"
   VALUE "ProductVersion", "0.4.0.0\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0409, 0x04E4
 }
}

#define RT_MANIFEST  24
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#define ISOLATIONAWARE_MANIFEST_RESOURCE_ID 2
#define ISOLATIONAWARE_NOSTATICIMPORT_MANIFEST_RESOURCE_ID 3

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "doublecmd.manifest"
MAINICON ICON "doublecmd.ico"
